<template name="footer">
	<footer id="footer">
		<ul class="icons">
			<li><a href="https://uk.linkedin.com/in/topherwinward" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
			<li><a href="http://twitter.com/winwardo" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="http://github.com/winwardo" class="icon fa-github"><span class="label">GitHub</span></a></li>
		</ul>
		<p class="copyright"><a href="http://topher.io">&copy; Topher Winward. Check out my website and what else I do!</a></p>
	</footer>
</template>