<template name="splash">
	<header id="header">
		<div class="content">
			<h1><a href="#">GitHub Portfolio generator</a></h1>
			<h3>Create a beautiful portfolio showing off your GitHub repositories in seconds.</h3> 
			<p>
				{{> loginButtons}}<br>
				or&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
				<form id="findUsername">
					<input type="text" placeholder="Find username..." id="findUsername2">
				</form>
			</p>										
		</div>
		<div style="text-align: center;"><div class="inner"><span class="mega-octicon octicon-octoface" style="font-size: 256px;"></span></div></div>
	</header>
</template>