<template name="splash">
	<header id="header">
		{{> welcomeHero}}
	</header>
	{{#if currentUser}}
		<section id="two">
			{{> customise}}
		</section>
	{{/if}}
</template>

<template name="welcomeHero">	
	<div class="content">
		<h1><a href="#">GitHub Portfolio generator</a></h1>
		<h3>Create a beautiful portfolio showing off your GitHub repositories in seconds.</h3> 
		<p>
			{{> userOptions}}
			<hr>
			<form id="findUsername">
				<input type="text" placeholder="Search a username" id="findUsername2">
			</form>
		</p>										
	</div>
	<div style="text-align: center;"><div class="inner"><span class="mega-octicon octicon-octoface" style="font-size: 256px;"></span></div></div>
</template>

<template name="userOptions">
	{{#if currentUser}}
		Welcome back {{currentUsername}}. Scroll down to customise your portfolio.<br>
		<span style="font-size: 0.5em">{{> loginButtons}}</span><br>
	{{else}}		
		{{> loginButtons}}<br>
	{{/if}}
</template>