<template name="two">
	<section id="two" class="wrapper">
		<div class="inner alt">
			{{#each activeRepos}}
				{{> repoSimple}}
			{{/each}}
			<section class="special">
				<ul class="icons labeled">
					<li><span class="icon fa-camera-retro"><span class="label">Ipsum lorem accumsan</span></span></li>
					<li><span class="icon fa-refresh"><span class="label">Sed vehicula elementum</span></span></li>
					<li><span class="icon fa-cloud"><span class="label">Elit fusce consequat</span></span></li>
					<li><span class="icon fa-code"><span class="label">Lorem nullam tempus</span></span></li>
					<li><span class="icon fa-desktop"><span class="label">Adipiscing amet sapien</span></span></li>
				</ul>
			</section>
		</div>
	</section>
</template>