<template name="repoSimple">
	<section class="spotlight">
		<div class="image"><img src="images/pic02.jpg" alt="" /></div>
		<div class="content">			
			<header>
				<h2>
					<a href="{{data.html_url}}">{{data.full_name}}</a>
				</h2>
				<h5>{{data.description}}</h5>
			</header>
			<p>Morbi mattis ornare ornare. Duis quam turpis, gravida at leo elementum elit fusce accumsan dui libero, quis vehicula lectus ultricies eu. In convallis amet leo non sapien iaculis efficitur consequat lorem ipsum.</p>
		</div>
	</section>
</template>