<template name="customise">
	<div class="wrapper">
		{{> orderRepos}}
	</div>
</template>

<template name="orderRepos">
	<table id="sortableRepos">
		<thead>
			<tr>
				<th>Display repository</th>
				<th>Starred</th>
				<th>Description</th>
				<th>Image URL</th>
			</tr>
		</thead>
		<tbody>
			{{#each allRepos}}
			<tr data-id="{{data.id}}" class="repo-customise">
				<td>
					<input type='checkbox' class='active' {{checkedIfActive}} id="check-{{data.id}}">
					<label for="check-{{data.id}}"><a href="{{data.html_url}}">{{data.full_name}}</a></label>
				</td>
				<td>{{data.stargazers_count}}</td>
				<td>
					<textarea placeholder="Description..." class="description">{{description}}</textarea>
				</td>
				<td><input type="text" placeholder="Custom image URL..." class="imageUrl" value="{{imageUrl}}"></td>
			</tr>
			{{/each}}
		</tbody>
	</table>

	<div class="inner">
		<div class="content">
			<ul class="actions fit">
				<li><a href="#" id="save" class="button special fit">Save</a></li>
				<li><a href="/u/{{currentUsername}}" class="button fit">View portfolio</a></li>
			</ul>
		</div>
		<hr>				
		<div class="content">
			<h3>Warning: These will clear all your current data, causing you to lose descriptions etc.</h3>
			<ul class="actions fit">
				<li><a href="#" id="resync" class="button fit">Resync user {{currentUsername}}</a></li>
				<li><a href="#" id="delete" class="button fit">Delete all repo data</a></li>
			</ul>
		</div>
	</div>
</template>
