<template name="userpage">
	{{> userinfo}}
	{{> userrepos}}	
</template>

<template name="userinfo">
	{{#with userinfo}}
	<section id="one" class="wrapper style2 special" style="padding-top: 40px; padding-bottom: 16px;">
		<div class="">
			<div class="image">
				<img src="{{avatar_url}}" style="width: 256px;" alt="">
			</div>
			<div class="">
				<header>
					<h2><a href="{{html_url}}" target="_blank">{{name}} / @{{login}}</a></h2>
					{{bio}}
					<ul class="icons">
						{{#if blog}}
							<li><a href="{{blog}}">{{blog}}</a></li>
						{{/if}}
						{{#if email}}
							<li><a href="mailto:{{blog}}">{{email}}</a></li>
						{{/if}}
					</ul>
				</header>
			</div>
		</div>
	</section>
	{{/with}}
</template>

<template name="userrepos">
	<section id="two" class="wrapper">
		<div class="inner alt">
			{{#if repos}}
				{{#each repos}}
					{{> repoSimple}}
				{{/each}}
			{{else}}
				<section class="spotlight">
					No repos exist for this user `{{username}}`. Note that usernames ARE case-sensitive. e.g. <code>winwardo</code> and <code>Winwardo</code> are different.<br>
				</section>
			{{/if}}
		</div>
		<button>Sync this user!</button>
	</section>
</template>