<template name="userpage">
	{{#if userHasInfo}}
		{{> userinfo}}
		{{> userrepos}}
		{{> editpage}}
	{{else}}
		{{> waitingForSync}}
	{{/if}}
</template>

<template name="userinfo">
	{{#with userinfo}}
	<section id="header" class="wrapper style2 special" style="padding-top: 64px; padding-bottom: 16px; height: auto; min-height: 0;">
		<div class="">
			<div class="image">
				<img src="{{avatar_url}}" style="width: 256px;" alt="">
			</div>
			<div class="">
				<header>
					<h2><a href="{{html_url}}" target="_blank">{{name}} / @{{login}}</a></h2>
					{{bio}}
					<ul class="icons">
						{{#if blog}}
							<li><a href="{{blog}}">{{blog}}</a></li>
						{{/if}}
						{{#if email}}
							<li><a href="mailto:{{blog}}">{{email}}</a></li>
						{{/if}}
					</ul>
				</header>
			</div>
		</div>
	</section>
	{{/with}}
</template>

<template name="userrepos">
	<section id="two" class="wrapper">
		<div class="inner alt">
			{{#if repos}}
				{{#each repos}}
					{{> repoSimple}}
				{{/each}}
			{{else}}
				<section class="spotlight">
					No repos exist for this user `{{username}}`. Note that usernames ARE case-sensitive. e.g. <code>winwardo</code> and <code>Winwardo</code> are different.<br>
				</section>
			{{/if}}
		</div>
	</section>
</template>

<template name="editpage">
	<section id="three">
		<div class="wrapper">
			<div class="inner">
				<ul class="actions fit">
					<li>
						{{#if currentUser}}
							<a href="/customise" class="button special fit">Customise your portfolio.</a>
						{{else}}
							Is this you? Sign in and customise this page.<br>
						{{/if}}
					</li>						
					<li>
						{{> loginButtons}}
					</li>
					<li><a href="/" id="delete" class="button fit">Homepage</a></li>
				</ul>				
			</div>
		</div>
	</section>
</template>

<template name="waitingForSync">
	<section id="one">
		<div class="wrapper">
			<div class="inner">
				<i class="fa fa-spin fa-refresh"></i>&nbsp;&nbsp;&nbsp;Attempting to sync data for {{username}}.				
			</div>
		</div>
	</section>
</template>